#root {
  text-align: center; 
  padding: 30px;
  color: #162a2c;
}

* {
  background-color: #d6e0e2;
}

.left {
  text-align: left;
  margin-left: 30px;
}

#headshot {
  max-height: 25%;
  max-width: 25%;
  border-radius: 50%;
}