#root {
  text-align: center; 
  padding: 3%;
  color: #162a2c;
}

* {
  background-color: #d6e0e2;
}

.left {
  text-align: left;
  margin-left: 30px;
}

#headshot {
  max-height: 25%;
  max-width: 25%;
  border-radius: 50%;
  border: white solid 6px;
}

.tree {
  max-height: 75%;
  max-width: 75%;
  border: white solid 3px;
  margin-right: 20px;
}


.flex {
  display: flex;
}

.flex-wrap {
  display: flex-wrap;
}

header {
border-bottom: white solid 3px;
justify-content: space-between;
/* background-color: #686867; */
  & ul {
  list-style: none;
  font-size: x-large;

    & li {
      margin-right: 5%
    }
 }
}

footer {
  & img {
    text-align: center;
    border-radius: 50%;
    max-width: 5%;
    max-height: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
}