#root {
  text-align: center; 
  padding: 30px;
  color: #162a2c;
}

* {
  background-color: #d6e0e2;
}

.left {
  text-align: left;
  margin-left: 30px;
}

#headshot {
  max-height: 25%;
  max-width: 25%;
  border-radius: 50%;
}

.tree {
  max-height: 80%;
  max-width: 80%;
}


.flex {
  display: flex;
}

header {
 margin-top: 0%;
  & ul {
  list-style: none;
  font-size: x-large;
  justify-content: space-evenly;
 }
}

footer {
  & img {
    justify-content: center;
    max-width: 10%;
    max-height: 10%;
  }
}