#root {
  text-align: center;
  padding-top: 0%;
  padding-left: 3%;
  padding-right: 3%;
  color: #162a2c;
}

.icon {
  margin-left: 5%;
  max-height: 55px;
  max-width: 55px;
}

.background {
  background-color: beige;
}

/* .brown {x
  color: #9d683f;
} */

/* * {
  background-color: #d6e0e2;
} */

.bold {
  font-weight: bold;
}

.left {
  text-align: left;
  margin-left: 10px;
}

.bio {
  margin-top: 150px;
  margin-bottom: 150px;
  max-width: 50%;
  text-align: left;
  margin-left: 10px;
}

.hero {
  background-color: aliceblue;
}

.inline {
  display: inline-flex;
}

#headshot {
  max-height: 350px;
  max-width: 350px;
  border-radius: 50%;
  border: white solid 6px;
}

.tree {
  max-height: 80%;
  max-width: 80%;
  border: white solid 3px;
  margin-right: 20px;
}

.fig {
  /* position: absolute;
    margin-top: -75px;
    margin-left: 15px; */
  color: #162a2c;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header {
  justify-content: right;
  margin-top: 2%;
  font-weight: bold;

  & ul {
    list-style: none;
    font-size: x-large;

    & li {
      margin-right: 20px;
    }
  }
}

footer {
  & img {
    text-align: center;
    border-radius: 50%;
    max-width: 5%;
    max-height: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.margint {
  margin-top: 100px;
}

.margint2 {
  margin-top: 200px;
  font-size: large;
}

.margint3 {
  margin-top: 60px;
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    & ul {
      flex-direction: column;
    }
  }
  footer {
    & img {
      max-width: 10%;
      max-height: 10%;
    }
  }

  #headshot {
    max-width: 40%;
    max-height: 40%;
  }
}
