#root {
  text-align: center;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  color: #162a2c;
}

.icon {
  margin-left: 5%;
  max-height: 55px;
  max-width: 55px;
}

.background {
  background-color: beige;
}

/* .brown {x
  color: #9d683f;
} */

/* * {
  background-color: #d6e0e2;
} */

.bold {
  font-weight: bold;
}

.left {
  text-align: left;
  margin-left: 10px;
}

.bio {
  color: #567c8d;
  margin-top: 150px;
  margin-bottom: 150px;
  max-width: 50%;
  text-align: left;
  margin-left: 15%;
}

.hero {
  background-color: aliceblue;
  width: 100%;
  justify-content: space-between;
}

.dblue {
  background-color: #567c8d;
  color: white;
}

.para {
  margin-left: 13%;
  margin-right: 13%;
}

.inline {
  display: inline-flex;
}

#headshot {
  max-height: 350px;
  max-width: 350px;
  border-radius: 50%;
  border: #567c8d solid 6px;
  margin-right: 15%;
}

.tree {
  max-height: 80%;
  max-width: 80%;
  border: white solid 3px;
  margin-right: 20px;
}

.fig {
  /* position: absolute;
    margin-top: -75px;
    margin-left: 15px; */
  color: #162a2c;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.link-stlye {
  text-decoration: none;
  color: #567c8d;
}

header {
  justify-content: right;
  /* font-weight: bold; */
  background-color: aliceblue;
  color: white;

  & ul {
    list-style: none;
    font-size: x-large;
    display: inline-flex;
    margin-top: 1%;

    & li {
      margin-right: 50px;
    }
  }
}

footer {
  & img {
    text-align: center;
    border-radius: 50%;
    max-width: 4%;
    max-height: 4%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
  }
}

.margint {
  margin-top: 100px;
}

.margint2 {
  margin-top: 200px;
  font-size: large;
}

.margint3 {
  margin-top: 60px;
}

.font {
  font-size: 5vw;
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    & ul {
      flex-direction: column;
    }
  }
  footer {
    & img {
      max-width: 10%;
      max-height: 10%;
    }
  }

  #headshot {
    max-width: 40%;
    max-height: 40%;
  }
}
